body * {
  margin: 0;
}

main {
  margin: 18px;
  display: flex;
  /* Note the absence of the flex-wrap here */
  justify-content: flex-start;
  align-items: flex-start;
}

.card-gallery {
  display: flex;
  flex-direction: column; /* Layout works with flex-wrap, but it is not best practice to rely on that. */
  justify-content: flex-start;
  align-items: flex-start;
}

article {
  display: block;
}
