body * {
  margin: 0;
}

main {
  margin: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Removed align items here */
}

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* New */
  width: 100vw; /* New */
}

article {
  display: none;
}
