body * {
  margin: 0;
}

main {
  margin: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  order: 2; /* This is all it takes to tell the gallery to move to the far side of the text. */ 
}

article {
  display: block;
}
